.box1 {
  width: 100px;
  height: 100px;
  background-color: rgb(123, 91, 212);
  margin-bottom: 1rem;
}
.box2 {
  width: 100px;
  height: 100px;
  background-color: rgb(87, 211, 135);
  margin-bottom: 1rem;
}
.box3 {
  width: 100px;
  height: 100px;
  background-color: rgb(87, 211, 135);
  margin-bottom: 1rem;
}
.box4 {
  width: 100px;
  height: 100px;
  background-color: rgb(87, 211, 135);
  margin-bottom: 1rem;
}

.section4 {
  height: 100vh;
  overflow: hidden; /*隱藏超出外層容器的元素*/
  max-width: 100%;
}

.loop {
  display: inline-block;
  font-family: "Dela Gothic One";
  font-size: 5rem;
  color: transparent;
  white-space: nowrap; /*文字必須設為nowrap，否則文字會自動換行*/
  height: 100%;
  -webkit-text-stroke: 1px black;
}
.loop > span {
  display: inline-block;
}