.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: pink;
  margin-bottom: 10rem;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: pink;
  margin-bottom: 2rem;
}

.box3 {
  width: 100px;
  height: 100px;
  background-color: pink;
}

.box4 {
  width: 100px;
  height: 100px;
  background-color: pink;
}

.bg-blue {
  background-color: #013355;
}

.box5 {
  width: 100px;
  height: 100px;
  background-color: white;
  margin-bottom: 5rem;
}

.box6 {
  width: 100px;
  height: 100px;
  background-color: white;
}