body {
  margin: 0;
  padding: 0;
}

.section3 {
  position: relative;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

i {
  font-size: 10rem;
}

.gate {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.gate-left {
  left: 0;
}

.gate-right {
  right: 0;
}

.gate-right-1 {
  background-color: #ffe7a9;
}

.gate-right-1 > i {
  color: #69f0ae;
}

.gate-left-1 {
  background-color: #e7ffa9;
}

.gate-left-1 > i {
  color: #ffa09d;
}

.gate-right-2 {
  background-color: #559496;
}

.gate-right-2 > i {
  color: #69f0ae;
}

.gate-left-2 {
  background-color: #005f62;
}

.gate-left-2 > i {
  color: #ffa09d;
}

.gate-right-3 {
  background-color: #69f0ae;
}

.gate-right-3 > i {
  color: #69f0ae;
}

.gate-left-3 {
  background-color: #ddfbed;
}

.gate-left-3 > i {
  color: #ffa09d;
}

.section4 {
  min-height: 100vh;
}